<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701415788135-vkndahgvuuev9l74nd9pn0qea378crg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701415788135-vkndahgvuuev9l74nd9pn0qea378crg2</string>
	<key>API_KEY</key>
	<string>AIzaSyA1A0G1mprEMfwuZPnb9A5IlUapOh0prmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>701415788135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.plenti.plenti</string>
	<key>PROJECT_ID</key>
	<string>plenti-8a8e6</string>
	<key>STORAGE_BUCKET</key>
	<string>plenti-8a8e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701415788135:ios:e0cf20b955bbe285</string>
	<key>DATABASE_URL</key>
	<string>https://plenti-8a8e6.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8710033578892632~6609571734</string>
</dict>
</plist>